.page__heading{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 22px;
    line-height: 26px;
    font-style: 600;
}

@media (max-width: 700px) {
    .page__heading  {
        font-size: 16px;
        line-height: 20px;
    }
}